@font-face {
  font-family: 'a_AlbionicTtlRg&Bt';
  src: url("../fonts//AAlbionicTtlRgBt.eot");
  src: url("../fonts//AAlbionicTtlRgBt.eot?#iefix") format("embedded-opentype"), url("../fonts//AAlbionicTtlRgBt.woff2") format("woff2"), url("../fonts//AAlbionicTtlRgBt.woff") format("woff"), url("../fonts//AAlbionicTtlRgBt.ttf") format("truetype"), url("../fonts//AAlbionicTtlRgBt.svg#AAlbionicTtlRgBt") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'a_FuturaOrto';
  src: url("../fonts//AFuturaOrto.eot");
  src: url("../fonts//AFuturaOrto.eot?#iefix") format("embedded-opentype"), url("../fonts//AFuturaOrto.woff2") format("woff2"), url("../fonts//AFuturaOrto.woff") format("woff"), url("../fonts//AFuturaOrto.ttf") format("truetype"), url("../fonts//AFuturaOrto.svg#AFuturaOrto") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'JakobExtraCTT';
  src: url("../fonts//JakobExtraCTT-Regular.eot");
  src: url("../fonts//JakobExtraCTT-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts//JakobExtraCTT-Regular.woff2") format("woff2"), url("../fonts//JakobExtraCTT-Regular.woff") format("woff"), url("../fonts//JakobExtraCTT-Regular.ttf") format("truetype"), url("../fonts//JakobExtraCTT-Regular.svg#JakobExtraCTT-Regular") format("svg");
  font-weight: normal;
  font-style: normal;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  outline: none;
}

html {
  font-size: 10px;
  cursor: url(../img/cursor.png), default;
}

body {
  font-family: "JakobExtraCTT", serif;
  color: #0c268b;
  font-size: 3rem;
  overflow-x: hidden;
}

a:hover, button:hover {
  cursor: url(../img/cursor.png), default;
}

.container {
  width: 140rem;
  margin: 0 auto;
}

.btn {
  z-index: 3;
  position: relative;
  height: 9rem;
  width: 48rem;
  padding: 0 0 1rem;
  -webkit-transform: scale(1);
          transform: scale(1);
  background: none;
  border: none;
  font-family: "JakobExtraCTT", serif;
  text-align: center;
  background-size: contain;
  font-size: 4.8rem;
  -webkit-transition: all 200ms;
  transition: all 200ms;
}

.btn:hover {
  -webkit-transform: scale(1.01);
          transform: scale(1.01);
}

.btn_primary {
  background: transparent url(../img/button-red.png) center center no-repeat;
  color: #e00606;
}

.btn_light {
  background: transparent url(../img/button-light.png) center center no-repeat;
  color: #fdfdfd;
}

h1, h2, h3 {
  font-family: "a_AlbionicTtlRg&Bt", serif;
  text-transform: uppercase;
}

h1 {
  font-size: 4.7rem;
}

h2, h3 {
  font-size: 3.8rem;
  text-align: center;
}

h4 {
  font-size: 3rem;
}

.arrow {
  z-index: 999;
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  border: none;
  background: none;
  -webkit-transform: scale(1);
          transform: scale(1);
  -webkit-transition: all 300ms;
  transition: all 300ms;
}

.arrow:hover {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}

.header {
  height: 77rem;
  background: #fff url(../img/header/bg-header.png) top center no-repeat;
  background-size: cover;
  color: #0c268b;
}

.header a {
  font-size: 1.9rem;
  font-family: "a_AlbionicTtlRg&Bt", serif;
  text-transform: uppercase;
  text-decoration: none;
  color: #0c268b;
}

.header__top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 16rem;
}

.header__top a {
  position: relative;
}

.header__top a::after {
  content: '';
  position: absolute;
  bottom: -0.5rem;
  display: block;
  height: 2px;
  width: 100%;
  background-color: #0c268b;
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
  -webkit-transition: all 300ms;
  transition: all 300ms;
}

.header__top a:hover::after {
  -webkit-transform: scaleX(1);
          transform: scaleX(1);
}

.header__logo {
  margin-left: 9rem;
  margin-right: 1rem;
  -webkit-transform: scale(1);
          transform: scale(1);
  -webkit-transition: all 300ms;
  transition: all 300ms;
}

.header__logo:hover {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
  -webkit-filter: brightness(80%);
          filter: brightness(80%);
}

.header__icons {
  margin-right: 7.5rem;
}

.header__icons img {
  height: 4.5rem;
  margin-left: 1rem;
  -webkit-transform: scale(1);
          transform: scale(1);
  -webkit-transition: all 300ms;
  transition: all 300ms;
}

.header__icons img:hover {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
  -webkit-filter: brightness(80%);
          filter: brightness(80%);
}

.header__icons a::after {
  display: none;
}

.header__title {
  position: relative;
  margin-right: 7.5rem;
  margin-top: 3rem;
  padding-right: 3rem;
  text-align: right;
}

.header__title img {
  position: absolute;
  top: -3rem;
  right: 0;
  height: 3.4rem;
}

.header__bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 6.5rem;
}

.header__bottom__img {
  position: relative;
}

.header__bottom__img img {
  position: absolute;
}

.header__bottom__advert {
  position: relative;
  width: 58rem;
  font-size: 4rem;
}

.header__bottom__advert img {
  position: absolute;
}

.header__bottom__list {
  margin-bottom: 6rem;
}

.header__bottom__list li {
  position: relative;
  padding-left: 5rem;
  margin-bottom: 0.5rem;
}

.header__bottom__list li::before {
  content: '';
  position: absolute;
  top: -0.5rem;
  left: 0;
  height: 4rem;
  width: 5rem;
  background-image: url(../img/header/check.png);
  background-position: center;
  background-repeat: no-repeat;
}

.header__bottom__sheet {
  top: -20rem;
  left: -26rem;
  width: 97rem;
}

.header__bottom__laptop {
  top: 0;
  left: 2rem;
  width: 50rem;
}

.header__bottom__arrow {
  top: 16rem;
  left: -10rem;
  width: 7.5rem;
}

.header__bottom__pen {
  top: 5rem;
  right: 3rem;
  width: 10rem;
}

.nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.nav__item {
  margin: 0 2.4rem;
}

.about {
  z-index: 2;
  position: relative;
  height: 96rem;
  margin-top: -20rem;
  padding-top: 20rem;
  background: transparent url(../img/about/bg-about.png) top center no-repeat;
  background-size: cover;
  font-size: 3.5rem;
  line-height: 4rem;
  color: #fdfdfd;
}

.about h2 {
  margin-bottom: 4rem;
  text-align: left;
}

.about__content {
  width: 85rem;
  padding-left: 10rem;
}

.about__discount {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 5rem 0 2rem 2rem;
}

.about__discount img {
  width: 16rem;
}

.about__discount p {
  width: 30rem;
  margin-left: 2rem;
  font-size: 4rem;
}

.about__img {
  position: absolute;
}

.about__img_wire {
  top: -24.5rem;
  right: 156rem;
  width: 36rem;
}

.about__img_hand {
  top: 6rem;
  right: 14rem;
  width: 144rem;
}

.about__img_newspaper {
  right: 0;
  bottom: 2.2rem;
  width: 94rem;
}

.about__img_scotch {
  right: 84rem;
  bottom: 15rem;
  width: 6.5rem;
  -webkit-transform: rotate(-38deg);
          transform: rotate(-38deg);
}

.need {
  position: relative;
  height: 203rem;
  padding-top: 25rem;
  margin-top: -15rem;
  background: transparent url(../img/bg-copy-book.png) top center repeat;
}

.need__title {
  margin-bottom: 8rem;
}

.need__content {
  position: relative;
  height: 140rem;
  width: 140rem;
  background: transparent url(../img/need/need.png) top center no-repeat;
  background-size: cover;
  line-height: 3.5rem;
}

.need__content li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 20%;
  padding-top: 4rem;
}

.need__content li:nth-child(odd) {
  padding-left: 10rem;
}

.need__content li:nth-child(odd) p {
  width: 60rem;
}

.need__content li:nth-child(even) {
  padding-left: 82rem;
}

.need__content li:nth-child(even) p {
  width: 52rem;
}

.need__content__img {
  position: absolute;
}

.need__content__img_scotch {
  top: 73rem;
  left: 2rem;
  width: 7.5rem;
  -webkit-transform: rotate(-65deg);
          transform: rotate(-65deg);
}

.need__content__img_cross {
  top: -12rem;
  right: 1rem;
  width: 22rem;
}

.need__btn {
  display: block;
  margin: 3rem auto 0;
}

.work {
  z-index: 2;
  height: 75rem;
  margin-top: -20rem;
  padding-top: 24rem;
  background: transparent url(../img/work/bg-work.png) top center no-repeat;
  background-size: cover;
}

.work__title {
  margin-bottom: 6rem;
  color: #fdfdfd;
}

.work__list {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 126rem;
  margin: 0 auto;
  font-size: 2.7rem;
}

.work__list__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 21rem;
  width: 19rem;
  padding: 3rem 2rem 0;
  background: transparent url(../img/work/work-sticker.png) center center no-repeat;
  background-size: cover;
  text-align: center;
}

.work__list__item span {
  display: block;
  width: 100%;
  text-align: center;
}

.work__list li:nth-child(odd) {
  -webkit-transform: rotate(2deg);
          transform: rotate(2deg);
}

.work__list li:nth-child(even) {
  -webkit-transform: rotate(-2deg);
          transform: rotate(-2deg);
}

.work__list__arrows {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.portfolio {
  position: relative;
  height: 94rem;
  padding-top: 32rem;
  margin-top: -27rem;
  background: transparent url(../img/portfolio/bg-portfolio.png) top center no-repeat;
  background-size: cover;
}

.portfolio__title {
  margin-bottom: 7rem;
}

.portfolio__list {
  font-size: 2.4rem;
}

.portfolio__list__item__content {
  height: 29rem;
  width: 42rem;
  padding-top: 2.8rem;
  background: transparent url(../img/portfolio/portfolio-screen.png) center center no-repeat;
  background-size: contain;
}

.portfolio__list__item__example {
  height: 21.7rem;
  width: 33.5rem;
  margin-left: 4rem;
  background-color: #fff;
  border-radius: 1rem;
}

.portfolio__list__item__button {
  display: block;
  margin: 2rem auto;
  height: 6rem;
  width: 19rem;
  -webkit-transform: scale(1);
          transform: scale(1);
  background: transparent url(../img/portfolio/portfolio-button.png) center center no-repeat;
  background-size: contain;
  border: none;
  font-family: "JakobExtraCTT", serif;
  font-size: 3rem;
  color: #0c268b;
  -webkit-transition: all 200ms;
  transition: all 200ms;
}

.portfolio__list__item__button:hover {
  -webkit-transform: scale(1.01);
          transform: scale(1.01);
}

.portfolio__wire {
  position: absolute;
  top: 55%;
  left: 0;
  width: 100%;
}

.dev {
  height: 39rem;
}

.dev__title {
  margin: 7rem auto;
}

.dev__text {
  margin: 1rem 12rem;
  line-height: 4rem;
  text-align: center;
}

.prices {
  z-index: 1;
  position: relative;
  height: 202rem;
  padding-top: 13rem;
  background: transparent url(../img/prices/bg-prices.png) top center no-repeat;
  background-size: cover;
  color: #fdfdfd;
  font-size: 2.8rem;
  line-height: 3.5rem;
}

.prices__grid {
  z-index: 0;
  position: absolute;
  top: 12rem;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  height: 148rem;
  width: 122rem;
}

.prices li {
  position: relative;
  padding-left: 2.5rem;
}

.prices li::before {
  content: '';
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  left: 0;
  height: 2rem;
  width: 2rem;
  background-image: url(../img/prices/prices-check.png);
  background-position: center;
  background-repeat: no-repeat;
}

.prices__block1 {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0 5rem;
}

.prices__block1__item {
  width: 23%;
}

.prices__block1__item:nth-child(4) {
  border-right: none;
}

.prices__block1__title, .prices__block1__price {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 3rem;
  text-align: left;
}

.prices__block1__title {
  height: 10rem;
  padding-left: 3rem;
}

.prices__block1__desc {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 44rem;
  padding: 1rem 3rem 4rem;
}

.prices__block1__price {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 5rem;
  color: #e00606;
  font-family: "a_AlbionicTtlRg&Bt", serif;
  font-weight: 900;
}

.prices__block1__scotch {
  position: absolute;
  top: -12rem;
  right: 5rem;
  -webkit-transform: rotate(-40deg);
          transform: rotate(-40deg);
}

.prices__add {
  position: relative;
}

.prices__add__title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 8rem;
  width: 66rem;
  margin: 0 auto;
  font-size: 3.8rem;
  text-transform: none;
  color: #e00606;
}

.prices__add__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0 7rem;
}

.prices__add__header__title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 11rem;
  width: 22%;
  padding: 0 2rem;
  text-align: center;
}

.prices__add__header__title:last-child {
  border-right: none;
}

.prices__add__scotch {
  position: absolute;
  top: 29rem;
  left: 3rem;
  -webkit-transform: rotate(-23deg);
          transform: rotate(-23deg);
}

.prices__block2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0 10rem;
}

.prices__block2__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 50%;
}

.prices__block2__item:first-child {
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.prices__block2__item:first-child .prices__block2__price {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  padding-right: 9rem;
}

.prices__block2__item:last-child {
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.prices__block2__item:last-child .prices__block2__price {
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  padding-left: 6rem;
}

.prices__block2__top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  height: 59rem;
  width: 38rem;
  padding: 0 3rem;
}

.prices__block2__title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 15rem;
  padding-top: 2rem;
  padding-right: 5rem;
  font-size: 3rem;
  line-height: 3.5rem;
  text-align: left;
}

.prices__block2__list {
  padding-top: 4rem;
}

.prices__block2__price {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 10rem;
  font-family: "a_AlbionicTtlRg&Bt", serif;
  text-transform: uppercase;
  color: #e00606;
}

.prices__block2__button {
  padding: 10rem 3rem 0;
}

.advance {
  z-index: 0;
  position: relative;
  height: 90rem;
  margin-top: -10rem;
  padding-top: 14rem;
  background: transparent url(../img/bg-copy-book.png) top center repeat;
}

.advance__title {
  margin-bottom: 8rem;
}

.advance__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.advance__list__title {
  margin-bottom: 2rem;
  font-size: 3rem;
}

.advance__list__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.advance__list__item__float {
  height: 10rem;
  width: 10rem;
  float: right;
}

.advance__list__content {
  height: 39rem;
  width: 39rem;
  margin-right: 2rem;
  margin-left: 2rem;
  font-size: 2.1rem;
  line-height: 2.4rem;
}

.advance__list__content_1 {
  padding: 5.5rem 4.5rem 0 3.5rem;
  margin-top: 2rem;
  background: transparent url(../img/advance/advance-sticker-1.png) center center no-repeat;
  background-size: contain;
}

.advance__list__content_2 {
  padding: 12rem 5.5rem 0;
  -webkit-transform: rotate(-10deg);
          transform: rotate(-10deg);
  background: transparent url(../img/advance/advance-sticker-2.png) center center no-repeat;
  background-size: contain;
}

.advance__list__content_3 {
  padding: 10rem 4rem 0 3rem;
  -webkit-transform: rotate(2deg);
          transform: rotate(2deg);
  background: transparent url(../img/advance/advance-sticker-3.png) center center no-repeat;
  background-size: contain;
}

.advance__newspaper {
  position: absolute;
  right: 0;
  bottom: 0;
  height: 58rem;
  width: 41rem;
}

.why {
  position: relative;
  height: 125rem;
  margin-top: -14rem;
  padding-top: 9rem;
  background: transparent url(../img/why/bg-why.png) top center no-repeat;
  background-size: cover;
}

.why__title {
  width: 66rem;
  margin: 0 auto;
  line-height: 4.5rem;
  text-align: center;
}

.why__block {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 88rem;
  width: 133rem;
  margin: 3rem auto;
  padding-top: 4rem;
  background: transparent url(../img/why/why-sheet.png) center center no-repeat;
  background-size: contain;
}

.why__block__item {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  height: 13%;
  width: 106rem;
  margin: 1.5rem 0 2rem 2rem;
  font-size: 2.8rem;
  line-height: 3.2rem;
  text-align: left;
}

.why__block__icon {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  left: 0;
  height: 8rem;
}

.why__block__text {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: 13rem;
}

.why__block__text::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: -2rem;
  height: 0.5rem;
  width: 100%;
  background: transparent url(../img/why/why-line.png) center center no-repeat;
  background-size: contain;
}

.why__block__scotch {
  position: absolute;
  top: 24rem;
  left: 3rem;
  -webkit-transform: rotate(80deg);
          transform: rotate(80deg);
  height: 19.5rem;
  width: 5.5rem;
}

.why__block__clip {
  position: absolute;
  top: 17rem;
  right: 3rem;
  -webkit-transform: rotate(40deg);
          transform: rotate(40deg);
  height: 17rem;
  width: 4.5rem;
}

.feedback {
  height: 80rem;
  margin-top: -5rem;
  background: transparent url(../img/bg-copy-book.png) top center repeat;
}

.feedback__title {
  position: relative;
  z-index: 2;
}

.feedback__slider {
  position: relative;
  margin-top: 4rem;
}

.feedback__slider__content {
  height: 54rem;
  width: 67rem;
  padding: 11rem 4rem 0;
  margin: 0 auto;
  background: transparent url(../img/feedback/feedback-sheet.png) center center no-repeat;
  background-size: contain;
  -webkit-transform: rotate(-5deg);
          transform: rotate(-5deg);
  font-size: 2.7rem;
  line-height: 3.2rem;
}

.feedback__slider__photo {
  float: right;
  height: 11rem;
  width: 11rem;
}

.feedback__slider__text {
  margin: 2rem 6rem 0 0;
}

.feedback__slider__arrow_prev {
  left: 20rem;
}

.feedback__slider__arrow_next {
  right: 20rem;
}

.main {
  padding: 15rem 11rem 20rem 0;
  margin-top: -15rem;
  background: transparent url(../img/prices/bg-prices.png) top center no-repeat;
  background-size: 100% 100%;
  font-size: 2.7rem;
  line-height: 3.2rem;
  color: #fdfdfd;
}

.main__text {
  margin: 2rem 0;
}

.site-form {
  height: 40rem;
  width: 57rem;
  padding: 3.5rem 4rem 0;
  background-color: lightgreen;
}

.site-form h4 {
  font-family: "a_AlbionicTtlRg&Bt", serif;
  font-size: 2.1rem;
  text-align: center;
  color: #0f0f0f;
}

.site-form input {
  height: 9rem;
  width: 43rem;
  margin: 2rem auto;
  background: transparent url(../img/form/form-input.png) center center no-repeat;
  background-size: contain;
  border: none;
}

.site-form button {
  margin: 0 auto;
}

.site-form input, .site-form button {
  display: block;
}

.fill-out {
  position: relative;
  height: 82rem;
  margin-top: -20rem;
  background: transparent url(../img/fill-out/bg-fill-out.png) top center no-repeat;
  background-size: cover;
}

.fill-out__form {
  position: relative;
  float: right;
  height: 48rem;
  width: 66rem;
  margin-top: 25rem;
  margin-right: 14rem;
}

.fill-out__form h4 {
  font-family: "a_AlbionicTtlRg&Bt", serif;
  font-size: 2.8rem;
  text-align: center;
  color: #0f0f0f;
}

.fill-out__form input {
  height: 9rem;
  width: 36rem;
  margin: 2rem auto;
  padding-left: 2rem;
  background: transparent url(../img/form/form-input.png) center center no-repeat;
  background-size: contain;
  border: none;
  font-size: 2.7rem;
  font-family: "JakobExtraCTT", serif;
  color: #0f0f0f;
}

.fill-out__form input::-webkit-input-placeholder {
  color: #0f0f0f;
}

.fill-out__form input:-ms-input-placeholder {
  color: #0f0f0f;
}

.fill-out__form input::-ms-input-placeholder {
  color: #0f0f0f;
}

.fill-out__form input::placeholder {
  color: #0f0f0f;
}

.fill-out__form button {
  margin: 0 auto;
}

.fill-out__form input, .fill-out__form button {
  display: block;
}

.fill-out__form__arrow {
  position: absolute;
  top: 6rem;
  right: 6rem;
}

.fill-out__hand {
  position: absolute;
  top: 22rem;
  left: 0;
}

.footer {
  padding: 10rem 0;
  background-color: #262525;
  color: #fdfdfd;
  font-family: "a_FuturaOrto", serif;
}

.footer a {
  color: #fdfdfd;
  -webkit-transition: all 300ms;
  transition: all 300ms;
  text-decoration: none;
}

.footer a:hover {
  color: #0c268b;
}

.footer__icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.footer__icons__img {
  height: 14rem;
  width: 14rem;
  margin: 0 3.5rem;
  -webkit-transform: scale(1);
          transform: scale(1);
  -webkit-transition: all 300ms;
  transition: all 300ms;
}

.footer__icons__img:hover {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
  -webkit-filter: brightness(80%);
          filter: brightness(80%);
}

.footer__contacts {
  display: block;
  margin: 5rem auto;
  text-align: center;
}

/*-----1200px - 1399px-----*/
@media (max-width: 1399px) {
  .container {
    width: 100%;
  }
}

/*-----992px - 1199px-----*/
/*-----768px - 991px-----*/
/*-----576px - 767px-----*/
/*-----0px - 575px-----*/
