@font-face {
    font-family: 'a_AlbionicTtlRg&Bt';
    src: url('../fonts//AAlbionicTtlRgBt.eot');
    src: url('../fonts//AAlbionicTtlRgBt.eot?#iefix') format('embedded-opentype'),
        url('../fonts//AAlbionicTtlRgBt.woff2') format('woff2'),
        url('../fonts//AAlbionicTtlRgBt.woff') format('woff'),
        url('../fonts//AAlbionicTtlRgBt.ttf') format('truetype'),
        url('../fonts//AAlbionicTtlRgBt.svg#AAlbionicTtlRgBt') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'a_FuturaOrto';
    src: url('../fonts//AFuturaOrto.eot');
    src: url('../fonts//AFuturaOrto.eot?#iefix') format('embedded-opentype'),
        url('../fonts//AFuturaOrto.woff2') format('woff2'),
        url('../fonts//AFuturaOrto.woff') format('woff'),
        url('../fonts//AFuturaOrto.ttf') format('truetype'),
        url('../fonts//AFuturaOrto.svg#AFuturaOrto') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'JakobExtraCTT';
    src: url('../fonts//JakobExtraCTT-Regular.eot');
    src: url('../fonts//JakobExtraCTT-Regular.eot?#iefix') format('embedded-opentype'),
        url('../fonts//JakobExtraCTT-Regular.woff2') format('woff2'),
        url('../fonts//JakobExtraCTT-Regular.woff') format('woff'),
        url('../fonts//JakobExtraCTT-Regular.ttf') format('truetype'),
        url('../fonts//JakobExtraCTT-Regular.svg#JakobExtraCTT-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
}
