.need
    position: relative
    height: 95rem
    padding-top: 10rem
    background: transparent url(../img/header/bg-header.png) top center no-repeat
    background-size: cover
    &__title
        margin-bottom: 8rem