.prices
    height: 202rem
    padding-top: 13rem
    background: transparent url(../img/prices/bg-prices.png) top center no-repeat
    background-size: cover
    color: $light-color
    h2
        font-size: 3rem